.TaskList {
  text-align: center;
}

.TaskList label {
  border-bottom: 1px solid;
  margin-bottom: 2em;
  display: block;
}

.TaskList ul {
  list-style: none;
  padding: 0;
  margin: 0 0 3em;
}

.TaskList li {
  margin-bottom: 0.5em;
}

.TaskList form {
  display: inline-block;
}

.TaskList form button {
  margin-left: 0.75em;
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  font-size: inherit;
}
