/* button styles */
button {
  padding: 1em;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: #ebebeb;
}

button:active {
  background-color: #c5c5c5;
}

/* dropdown styles */
select {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  color: #555;
  font-size: inherit;
  overflow: hidden;
  padding: 5px 10px;
  margin: 1em;
}
